<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030094124271-79tduj5mosn9u8d89qrfjbs4oj0fpos5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030094124271-79tduj5mosn9u8d89qrfjbs4oj0fpos5</string>
	<key>API_KEY</key>
	<string>AIzaSyAl6z8Mk3M9VamrpQlPwJ4vJ5APkBaF-AE</string>
	<key>GCM_SENDER_ID</key>
	<string>1030094124271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HendrikSteen.de.ShopApp</string>
	<key>PROJECT_ID</key>
	<string>shopapp-f01dd</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-f01dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030094124271:ios:6cec33ecc0a4533bf5171a</string>
</dict>
</plist>